@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Be Vietnam', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,figure,img{
	margin-bottom: 0rem;
}

a:hover,
a:focus,
a:visited,
a:active,
button:active{
	color: inherit;
	text-decoration: none;
	cursor:pointer;
}

input:hover, input:focus{
	outline: 0;
}
.clearfix{
	display: block;
}
.clearfix::after{
	content: '';
	clear: both;
	font-size: 0;
	display: block;
	line-height: 0;
	height: 0;
}
ul{
	margin-bottom: 0;
	list-style: none;
}
figure {
    margin: 0 0 0rem;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 11;
    padding: 32px 0;
}
.navbar-toggler.navbar-toggler-expand-lg{
	display: inline-flex;
	background-color: transparent;
	width: 100%;
	max-width: 55px;
	height: 25px;
	align-items: center;
	justify-content: center;
	padding: 0 0;
    justify-content: center;
    line-height: unset;
    border-radius: 0;
	flex-wrap: wrap;
}
.navbar-toggler.navbar-toggler-expand-lg span.navbar-toggler-icon{
	position: relative;
	height: 5px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
}
.navbar-toggler.navbar-toggler-expand-lg span.navbar-toggler-icon::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: -10px;
	left: 0;
	background: #fff;
	border-radius: 8px;
}
.navbar-toggler.navbar-toggler-expand-lg span.navbar-toggler-icon::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 8px;
	top: 10px;
	left: 0;
	background: #fff;
}

/**********************banner-css**************/

.banner_figure{
	position: relative;
	margin: 0 0 0rem;
}
.banner_figure > img{
	height: 100vh;
	object-fit: cover;
}
.banner_figure img{
	max-height: 100vh;
	object-fit: cover;
}

.banner_caption{
	position: absolute;
	bottom: 50%;
	left: 0;
	width: 100%;
	transform: translateY(50%);
}
.banner_caption_caption h1{
	font-size:96px;
	line-height: 1;
	font-weight: 900;
	text-transform: capitalize;
	color: #fff;

}
.banner_caption_caption h3{
	font-size:28px;
	line-height: 1.2;
	font-weight: 500;
	text-transform: capitalize;
	color: #d4ccff;

}
.banner_caption_caption p{
	font-size:18px;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
	margin-bottom: 26px;

}
.banner_conferance_detail button,.banner_conferance_reg_log a{
	font-size:16px;
	line-height: 1.45;
	font-weight: 500;
	padding: 4px 10px;
	color: #fff;
	border:1px solid #fff;
	border-radius: 12px;
	font-family: 'Fira Sans', sans-serif;
}
.banner_conferance_detail{
	margin-bottom: 40px;
}
.banner_conferance_detail button:hover{
	color: #fff;
}
.banner_conferance_detail button+button{
	margin-left: 18px;
}
.banner_conferance_reg_log a{
    background-color: #bad1ff;
    display: inline-block;
    text-transform: uppercase;
    padding: 9px 23px;
    border-radius: 21px;
    text-decoration: none;
	color: #00194c;
    border: 0;
	transition: 0.5s all;
}
.banner_conferance_reg_log a:hover{
    background-color: #f2184f;
    padding: 9px 23px;
    border-radius: 21px;
    text-decoration: none;
    border: 0;
	color: #fff;
}

.banner_conferance_reg_log a+a{
margin-left: 20px;
}
.home_section{
    height: 100vh;
    object-fit: cover;
    display: flex;
    width: 100%;
    align-items: center;
}

/***************who-we-are**********************/
.who_we_are_section{
	background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px 0;
}
.who_we_are_section_content{
	width: 100%;
}
.home_section h3{
	font-size:21px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	color: #f2184f;
}
.home_section h2{
	font-size:67px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 24px;
}
.home_section p{
	font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
    text-transform: capitalize;
    color: #dce7ff;
    margin-bottom: 8px;
    text-align: justify;
	
}
.who_we_are_section_content ul.attendee_list{
	margin-top: 24px;
	padding: 16px 77px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.who_we_are_section_content ul.attendee_list::before,
.who_we_are_section_content ul.attendee_list::after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
    width: 64px;
    height: 104px;
	background: url(../images/overlay.png) no-repeat center center;
	background-size: auto;
    transform: translateY(-50%);
}
.who_we_are_section_content ul.attendee_list::after{
	top:50%;
	right: 0;
	left: unset;
}
.who_we_are_section_content ul.attendee_list li{
	font-size:11px;
	line-height: 1.45;
	font-weight: 900;
	text-transform: uppercase;
	color: #dfdfdf;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.who_we_are_section_content ul.attendee_list li strong{
	font-size:44px;
	line-height: 1.45;
	font-weight: 900;
	color: #dfdfdf;
}
figure.whowefigure {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
figure.whowefigure img {
    width: 100%;
	max-width: 90%;
    height: auto;
}

/*********************why-attendee-section*******************************/

.why_attendee_section{
	padding: 16px 0px;
}
.why_attendee_section{
	background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;

}

.home_section h2 span{
	position: relative;
}
.home_section h2 span::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	max-width: 90%;
	height: 6px;
	background: url(../images/heading_overlay.png)no-repeat center center;
	background-size: cover;
	transform: translateX(-50%);
	
}
.slider-content h3{
	font-size:42px;
	line-height: 1.2;
	font-weight: 600;
	color: #fff;
	margin-bottom: 16px;
	text-transform: capitalize;
}
.slider-content p{
	font-size:18px;
	line-height: 1.2;
	font-weight: 400;
	color: #d9e7fe;
	margin-bottom: 0px;
}
.home_slick_slider {
    max-width: 75%;
	padding:  0 15px;
}
.home_slick_slider .slick-dots li{
	width: auto;
    height: auto;
    padding: 0;
}
.home_slick_slider .slick-dots li button {
    font-size: 21px;
    line-height: 0;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: 0;
	font-weight: 500;
    outline: none;
    background: transparent;
}
.home_slick_slider .slick-dots {
    position: absolute;
    bottom: -70px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
/******************speaker-section***********************/
.speaker_section{
	background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;
	padding: 16px 0px;

}
.btn_view_all{
	font-size:16px;
	line-height: 1.45;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	border: 0px;
	outline: 0;
	background: #f2184f;
	border-radius: 21px;
	padding: 8px 23px;
}
.btn_view_all:hover{
	color: #fff;
}
.speaker_section_content{
	position: relative;
	padding:  0 15px;
	width: 100%;
}
.speaker_text_area{
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    transform: translateY(50%);
}
.speaker_figure_wrapper figure{
	margin-right: -15px;
}
.speaker_section_content  h2,
.speaker_section_content p{
margin-bottom: 40px;
}

/**********who_should_att_section***************/

.who_should_att_section{
padding: 16px 0;
background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;
}
.attendee_slick{
	margin-top: 40px;
}
.attendee_slick .slider-content h3{
	font-size:25px;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
	color: #f2184f;
}
.attendee_slick .slider-content p{
	font-size:18px;
	line-height: 1.2;
	font-weight: 400;
	color: #dce7ff;
}
.attendee_slick_figure{
	text-align: center;
}
.slick-slide .attendee_slick_figure img{
	max-width: 100%;
	display: inline-block;
	margin-bottom: 32px;
}
.attendee_slick .slick-slide {
	padding: 0 15px;
}

/******************past_attendee_section******************************/

.past_attendee_section{
	padding:16px 0;
background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;
}
.past_attendee_section .past_attndee_figure{
	text-align: center;
}
.past_attendee_section .past_attndee_figure img{
	display: inline-block;
	max-width: 100%;
}

/************register_section*********************/

.register_section{
	padding:16px 0;
background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;	
}
.register_wrapper{
	text-align: center;
	padding: 40px;
	background: #fff;
	border-radius: 16px;
}
.register_wrapper p{
	font-size:24px;
	line-height: 1.2;
	font-weight: 600;
	color: #130171;
	text-align: center;
	margin-bottom: 32px;
}
.register_wrapper label{
	font-size:16px;
	line-height: 1.2;
	font-weight: 400;
	color: #515050;
}
.register_wrapper button{
	font-size:16px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	background: #f2184f;
	border: 0;
}

/************footer****************************/
.footer{
	padding: 16px 0 16px;
	background: url(../images/who_we_are_banner.jpg) no-repeat center center;
	background-size: cover;	
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_content p{
	font-size:15px;
	font-weight: 400;
	color: #beb8df;
}
.footer_content ul{
	padding: 0 0;
}
.footer_content ul li{
display: inline-block;
}
.footer_content ul li + li{
	margin-left: 14px;
}
.footer_content ul li a{
	background-color: #fff;
	display: flex;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
	color: #f2184f;
	transition: 0.5s all;
}
.footer_content ul li a:hover{
    background: #f2184f;
	color: #fff;
}